/* ============================
   Appointment Card
   ============================ */
.appointment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.appointment-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.appointment-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.appointment-card p span,
.appointment-card strong {
  font-weight: 800;
}

.appointment-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-card button:hover {
  background-color: #0056b3;
}

/* ============================
   Appointment Form
   ============================ */
.appointment-form {
  max-width: 380px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-form h4 {
  font-size: 22px;
  margin-bottom: 18px;
  text-align: center;
}

.appointment-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.appointment-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.appointment-form button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-form button:hover {
  background-color: #0056b3;
}

/* ============================
   Layout
   ============================ */
.appointments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}
